<% provide(:title, 'Budget') %>



<link rel="stylesheet" href="http://www.frontend.reklamor.com/fancybox/jquery.fancybox.css" media="screen">
<script src="http://www.frontend.reklamor.com/fancybox/jquery.fancybox.js"></script>

<div class="container" style="margin-top: 50px;">
    <div class="row food-images">
        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="/assets/pasta-asparagus.jpg">
                    <img class="img-responsive" alt="" src="/assets/pasta-asparagus.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Pasta with asparagus and French Onion</small>
                    </div> <!-- text-right / end -->
                </a>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <h3 style="font-weight: bold;">1. Pasta with asparagus and French Onion</h3>
                <p>Mix together spaghetti with asparagus and onion for a quick Italian meal that's sure to please.</p>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="/assets/pork-quesadillas.jpg">
                    <img class="img-responsive" alt="" src="/assets/pork-quesadillas.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Barbecued Pork Quesadillas</small>
                    </div> <!-- text-right / end -->
                </a>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <h3 style="font-weight: bold;">2. Barbecued Pork Quesadillas</h3>
                <p>Sweet and tangy, these quesadillas get their flavor from the shredded barbeque pork and barbeque sauce.</p>
        </div> <!-- col-6 / end -->
        
    </div> <!-- row / end -->

    <div class="row food-images">

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="/assets/hamburger-onions.jpg">
                    <img class="img-responsive" alt="" src="/assets/hamburger-onions.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Hamburger with onion and mushrooms</small>
                    </div> <!-- text-right / end -->
                </a>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <h3 style="font-weight: bold;">3. Hamburger with onion and mushrooms</h3>
                <p>Spicy, cheesy, and tasty; this dish has it all.</p>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="/assets/porkchops.jpg">
                    <img class="img-responsive" alt="" src="/assets/porkchops.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Pork Chops</small>
                    </div> <!-- text-right / end -->
                </a>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <h3 style="font-weight: bold;">4. Pork Chops</h3>
                <p>Get big bone-in flavor with these high quality pork chops</p>
        </div> <!-- col-6 / end -->

    </div> <!-- row / end -->
</div> <!-- container / end -->

</br>

<a href = "<%= new_order_path %>" class = "customer-order-button">
<button type="button" class="btn btn-info btn-lg center-block order-button">Order Now</button>
</a>


<script>
    $(document).ready(function(){
    //FANCYBOX
    //https://github.com/fancyapps/fancyBox
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });
    });
   
  
</script>
