<% provide(:title, 'Healthy Living') %>



<link rel="stylesheet" href="http://www.frontend.reklamor.com/fancybox/jquery.fancybox.css" media="screen">
<script src="http://www.frontend.reklamor.com/fancybox/jquery.fancybox.js"></script>

<div class="container" style="margin-top: 50px;">
    <div class="row food-images">
        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="/assets/deconstructed-sushi.jpg">
                    <img class="img-responsive" alt="" src="/assets/deconstructed-sushi.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Deconstructed Sushi Roll</small>
                    </div> <!-- text-right / end -->
                </a>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <h3 style="font-weight: bold;">1. The Deconstructed Sushi Roll</h3>
                <p> It’s all the parts of a sushi roll, but in a bowl instead.</p>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="/assets/chicken-trailmix.jpg">
                    <img class="img-responsive" alt="" src="/assets/chicken-trailmix.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Tangy Chicken Trail Mix</small>
                    </div> <!-- text-right / end -->
                </a>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <h3 style="font-weight: bold;">2. Tangy Chicken Trail Mix</h3>
                <p>This chicken and veggies salad with a sprinkling of dried fruits and a hint of citrus is perfect for a filling dinner.</p>
        </div> <!-- col-6 / end -->
        
    </div> <!-- row / end -->

    <div class="row food-images">

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="/assets/hawaiian-stirfry.jpg">
                    <img class="img-responsive" alt="" src="/assets/hawaiian-stirfry.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Hawaiian Stir Fry</small>
                    </div> <!-- text-right / end -->
                </a>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <h3 style="font-weight: bold;">3. Hawaiian Stir Fry</h3>
                <p>The combo of vegetables and pineapple in this easy stir-fry makes for a colorful sweet-and-sour dish.</p>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="/assets/chicken-stirfry.jpg">
                    <img class="img-responsive" alt="" src="/assets/chicken-stirfry.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Healthy BBQ Stir Fry</small>
                    </div> <!-- text-right / end -->
                </a>
        </div> <!-- col-6 / end -->

        <div class='col-sm-6 col-xs-6 col-md-3 col-lg-3'>
                <h3 style="font-weight: bold;">4. Healthy BBQ Stir Fry</h3>
                <p>This high protein chicken stir fry combines sweet Southern barbecue flavor with healthy Asian stir fry technique.</p>
        </div> <!-- col-6 / end -->